[submodule "src/lib/troopjs-core"]
	path = src/lib/troopjs-core
	url = https://github.com/troopjs/troopjs-core.git
[submodule "src/lib/troopjs-jquery"]
	path = src/lib/troopjs-jquery
	url = https://github.com/troopjs/troopjs-jquery.git
[submodule "src/lib/troopjs-requirejs"]
	path = src/lib/troopjs-requirejs
	url = https://github.com/troopjs/troopjs-requirejs.git
[submodule "src/lib/composejs"]
	path = src/lib/composejs
	url = https://github.com/troopjs/compose.git
