[submodule "src/lib/troopjs-core"]
	path = src/lib/troopjs-core
	url = https://github.com/troopjs/troopjs-core.git
[submodule "src/lib/troopjs-jquery"]
	path = src/lib/troopjs-jquery
	url = https://github.com/troopjs/troopjs-jquery.git
[submodule "src/lib/troopjs-requirejs"]
	path = src/lib/troopjs-requirejs
	url = https://github.com/troopjs/troopjs-requirejs.git
[submodule "src/lib/compose"]
	path = src/lib/compose
	url = https://github.com/kriszyp/compose.git
[submodule "src/lib/troopjs-utils"]
	path = src/lib/troopjs-utils
	url = https://github.com/troopjs/troopjs-utils.git
[submodule "resources/requirejs"]
	path = resources/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "src/lib/troopjs-browser"]
	path = src/lib/troopjs-browser
	url = https://github.com/troopjs/troopjs-browser.git
[submodule "src/lib/when"]
	path = src/lib/when
	url = https://github.com/cujojs/when.git
